<ion-view class="view-intro">

  <ion-content scroll="false">
    <div class="intro-slider">
      <ion-slide-box active-slide="slideIndex" show-pager="true" on-slide-changed="slideChanged($index)">

        <ion-slide ng-repeat="item in slides">

          <div class="content" ng-if="$index == slideIndex">
            <span class="top"><h2>{{ item.top }}</h2></span>

          </div>

        </ion-slide>

        <ion-slide>
          <div class="content" ng-if="slides.length == slideIndex">
            <div class="last">
              <button class="button button-block button-clear step2" ui-sref="tab.home" ng-click="goHome()">开始</button>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>

    </div>




  </ion-content>
</ion-view>
